.weather_details {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.min_temp {
  color: darkturquoise;
}
.max_temp {
  color: orangered;
}
.humidity {
  color: cornflowerblue;
}
.pressure {
  color: chartreuse;
}